# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'barman/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {
            "pkg" : 'barman-arch',
        },
        'RedHat': {
            "config": '/etc/barman.conf',
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('barman:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.barman.update(os_family_map) %}

{## Merge in barman:lookup pillar ##}
{% set barman = salt['pillar.get'](
        'barman',
        default=default_settings.barman,
        merge=True
    )
%}
